# Dependencias
node_modules/

# Salida de la transpilación
dist/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración local de editores
.vscode/
.idea/
